.adminPanel {
  /* display: flex; */
}

.adminPage {
  display: flex;

  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
/* .adminInfo{
    display:flex;
  
    flex-direction: row;
    /* display: inline-flex;
    justify-content: center;
    flex-direction: row;
  justify-content: space-between; */

/* display:flex;
  flex-direction: column;
  position:relative; 
} */

/* .newCust{

   
     -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 150px;
    max-height: 100px;
    border: none;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 7px 5px 18px 0 rgba(0,2,5,0.91) ;
    box-shadow: 7px 5px 18px 0 rgba(0,2,5,0.91) ;
    padding: 5%;
    margin: 1%;
}

.monthSale{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 150px;
    max-height: 100px;
    border: none;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 7px 5px 18px 0 rgba(0,2,5,0.91) ;
    box-shadow: 7px 5px 18px 0 rgba(0,2,5,0.91) ;
    padding: 5%;
    margin: 1%;
    
}
.totalSales{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 150px;
    max-height: 100px;
    border: none;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 7px 5px 18px 0 rgba(0,2,5,0.91) ;
    box-shadow: 7px 5px 18px 0 rgba(0,2,5,0.91) ;
    padding: 5%;
    margin: 1%;
} */
.adminPageInfo {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 250px;
  max-height: 100px;
  border: none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font: normal 16px/1 "Times New Roman", Times, serif;

  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 7px 5px 18px 0 rgba(0, 2, 5, 0.91);
  box-shadow: 7px 5px 18px 0 rgba(0, 2, 5, 0.91);
  padding: 5%;
  margin: 1%;
}
.graphShow {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100%;
  max-height: 100%;
  border: none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font: normal 16px/1 "Times New Roman", Times, serif;

  /* text-align: center; */
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 7px 5px 18px 0 rgba(0, 2, 5, 0.91);
  box-shadow: 7px 5px 18px 0 rgba(0, 2, 5, 0.91);
  padding: 5%;
  margin: 1%;
}

.addProd {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100%;
  max-height: 100%;
  border: none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font: normal 16px/1 "Times New Roman", Times, serif;

  /* text-align: center; */
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 7px 5px 18px 0 rgba(0, 2, 5, 0.91);
  box-shadow: 7px 5px 18px 0 rgba(0, 2, 5, 0.91);
  padding: 5%;
  margin: 1%;
}
.addBlog {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100%;
  max-height: 100%;
  border: none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font: normal 16px/1 "Times New Roman", Times, serif;

  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 7px 5px 18px 0 rgba(0, 2, 5, 0.91);
  box-shadow: 7px 5px 18px 0 rgba(0, 2, 5, 0.91);
  padding: 5%;
  margin: 1%;
}
.submitButton{
  background: lime;
  border: 1px solid;
  margin-top: 3px !important;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
