.chatPanel {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.topChat {
  display: flex;
  padding: 20px;

  align-items: center;
  border-bottom: 1px solid lightgray;
  /* background-color: red; */
}
.topChatDetails {
  flex: 1;
  padding-left: 20px;
  /* background-color: red; */
}

.topChatDetails > h3 {
  margin-bottom: 3px;
  font-weight: 500;
  /* background-color: red; */
}

.topChatDetails > p {
  color: gray;
  /* background-color: red; */
}
.topChatRight {
  float: right;
}
.mainChat {
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  overflow: scroll;
  overflow-x: hidden;
}

.receivedMessage {
  position: relative;
  font-size: 16;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
  margin-top: 15px;
  margin-left: 10px;
}
.messageTime {
  margin-left: 10px;
  font-size: xx-small;
}
.participantName {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
.sentMessage {
  position: relative;
  font-size: 16;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #d7ebc8;
  margin-left: auto;
}

.bottomPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.bottomPanel > form {
  flex: 1;
  display: flex;
}
.bottomPanel > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline: none;
}

.bottomPanel > form > button {
  display: none;
}
